.main-container {
  display: flex;
  flex-direction: row;
  width: auto;
}

.outside-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-container {
  text-align: center;
  list-style: none;
}
