.count {
  font-weight: bold;
}

.btn {
  margin-right: 5px;
}

.btn-increment {
  background-color: green;
}

.btn-decrement {
  background-color: red;
}

.greater-than-0 {
  color: blue;
}

.not-greater-than-0 {
  color: red;
}

.img {
  width: 250px;
  height: auto;
}
