.outer-container {
  border-bottom: 1px solid #B8B8B8;
}

.inner-container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-wrapper {
  flex: 0 0 120px;
}

.logo {
  width: 50px;
  height: auto;
  display: block;
  margin: 15px 0;
}

.empty {
  flex-grow: 2;
  flex-basis: 100%;
}

.destination-name {
  color: black;
  font-size: 30px;
  flex-grow: 0;
  white-space: nowrap;
}

.dropdown-wrapper {
  flex-grow: 2;
  flex-basis: 100%;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  width: 15px;
  height: auto;
  margin-right: 7px;
}

.dropdown-label {
  color: grey;
}

.dropdown-items {
  display: none;
  color: grey;
  width: 180px;
  border: 1px solid #B8B8B8;
  position: absolute;
  top: calc(100% + 10px);
  margin: 0;
  padding: 20px;
  left: 0;
  text-align: left;
  background-color: white;
}

.dropdown-item {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
  margin-bottom: 5px;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:hover, .dropdown-label:hover {
  color: #7A4938;
  cursor: pointer;
}

.dropdown-open {
  display: block;
}

.signup-btn-wrapper {
  flex: 0 0 120px;
  text-align: right;
}

.signup-btn {
}
