.container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 50px;
}

.img-container {
  position: relative;
}

.img {
  width: 200px;
  height: 320px;
  padding: 25px;
}

.designer {
  color: #7A4938;
  cursor: pointer;
  font-size: 17px;
}

.title {
  color: #A9A9A9;
  cursor: pointer;
}

.msrp {
  color: #7A4938;
  cursor: pointer;
}

.heart {
  width: 20px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.info-section {
  padding: 0px 25px 25px;
  text-decoration: none;
}

.prices {
  color: black;
}
