.container {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #DCDCDC;
  margin: 30px 0 0 50px;
}

.imgContainer {
}

.img {
  width: 200px;
  height: 320px;
  padding: 25px;
}

.designer {
  color: #7A4938;
  cursor: pointer;
  font-size: 17px;
}

.title {
  color: #A9A9A9;
  cursor: pointer;
}

.msrp {
  color: #7A4938;
  cursor: pointer;
}

.heartButton {
  width: 20px;
  height: auto;
}

.infoSection {
  padding: 0px 25px 25px;
}
